Here we will explore the data, get to know the data types, and if there are any inconsistencies, based from the data documentation given.

In [ ]:
import pandas as pd

In [ ]:
url = "Your_Google_drive_link" ## add your own google drive infor
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
MES_data = pd.read_csv(path)

/tmp/ipython-input-1217886434.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  MES_data = pd.read_csv(path)

In [ ]:
MES_data_1 = MES_data.copy()
MES_data_1 = pd.DataFrame(MES_data)

In [ ]:
MES_data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154930 entries, 0 to 154929
Data columns (total 6 columns):
 #   Column                                                                                                                                                 Non-Null Count   Dtype
---  ------                                                                                                                                                 --------------   -----
 0   The Monthly electricity data explorer and the main highlights are available here: https://www.iea.org/reports/monthly-electricity-statistics-overview  154928 non-null  object
 1   Unnamed: 1                                                                                                                                             154924 non-null  object
 2   Unnamed: 2                                                                                                                                             154923 non-null  object
 3   Unnamed: 3                                                                                                                                             154923 non-null  object
 4   Unnamed: 4                                                                                                                                             154872 non-null  object
 5   Unnamed: 5                                                                                                                                             154923 non-null  object
dtypes: object(6)
memory usage: 7.1+ MB

In [ ]:
# drop information not needed for analysis and renamed columns

MES_data_1.head(10)

MES_data_1 = MES_data_1.drop([0,1,2,3,4,5,6,7,8],axis = 0).copy()

MES_data_1 = MES_data_1.rename( columns = {'The Monthly electricity data explorer and the main highlights are available here: https://www.iea.org/reports/monthly-electricity-statistics-overview':'country',
                              'Unnamed: 1':'date','Unnamed: 2':'balance', 'Unnamed: 3':'product', 'Unnamed: 4':'value', 'Unnamed: 5':'unit'}).copy()

In [ ]:
# check column types, for duplicates, null, values,
MES_data_1.info() # need to transform data to year and month, and value to int64.

MES_data_1.duplicated() # zero duplicate enteries
MES_data_1.describe()

MES_data_1.isna().sum() # 51 null values -
MES_data_1['value'].isna().value_counts(normalize=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154921 entries, 9 to 154929
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   country  154921 non-null  object
 1   date     154921 non-null  object
 2   balance  154921 non-null  object
 3   product  154921 non-null  object
 4   value    154870 non-null  object
 5   unit     154921 non-null  object
dtypes: object(6)
memory usage: 7.1+ MB

value
False    0.999671
True     0.000329
Name: proportion, dtype: float64

In [ ]:
# drop na values
MES_data_1 = MES_data_1.dropna(axis=0).copy()
MES_data_1.isna().sum()

country    0
date       0
balance    0
product    0
value      0
unit       0
dtype: int64

In [ ]:
MES_data_1.head(50)

,country,date,balance,product,value,unit
9,Australia,August 2025,Net Electricity Production,Hydro,1091.623,GWh
10,Australia,August 2025,Net Electricity Production,Total Combustible Fuels,15191.063,GWh
11,Australia,August 2025,Net Electricity Production,"Coal, Peat and Manufactured Gases",10411.6566,GWh
12,Australia,August 2025,Net Electricity Production,Oil and Petroleum Products,409.1507,GWh
13,Australia,August 2025,Net Electricity Production,Natural Gas,4110.1169,GWh
14,Australia,August 2025,Net Electricity Production,Combustible Renewables,260.1387,GWh
15,Australia,August 2025,Net Electricity Production,Solar,4017.512,GWh
16,Australia,August 2025,Net Electricity Production,"Total Renewables (Hydro, Geo, Solar, Wind, Other)",9242.1814,GWh
17,Australia,August 2025,Used for pumped storage,Electricity,94.1584,GWh
18,Australia,August 2025,Distribution Losses,Electricity,1174.8779,GWh
19,Australia,August 2025,Final Consumption (Calculated),Electricity,22904.0693,GWh
20,Australia,August 2025,Net Electricity Production,Wind,3872.9076,GWh
21,Austria,August 2025,Net Electricity Production,Electricity,6646.3274,GWh
22,Austria,August 2025,Net Electricity Production,Hydro,3918.0576,GWh
23,Austria,August 2025,Net Electricity Production,Total Combustible Fuels,687.3877,GWh
24,Austria,August 2025,Net Electricity Production,"Coal, Peat and Manufactured Gases",158.9317,GWh
25,Austria,August 2025,Net Electricity Production,Oil and Petroleum Products,44.9006,GWh
26,Austria,August 2025,Net Electricity Production,Natural Gas,87.9067,GWh
27,Austria,August 2025,Net Electricity Production,Combustible Renewables,340.7413,GWh
28,Austria,August 2025,Net Electricity Production,Other Combustible Non-Renewables,54.9074,GWh
29,Austria,August 2025,Net Electricity Production,Geothermal,0.0004,GWh
30,Austria,August 2025,Net Electricity Production,Solar,1504.0847,GWh
31,Austria,August 2025,Net Electricity Production,Not Specified,1.0112,GWh
32,Austria,August 2025,Net Electricity Production,"Total Renewables (Hydro, Geo, Solar, Wind, Other)",6298.6699,GWh
33,Austria,August 2025,Total Imports,Electricity,1564.363,GWh
34,Austria,August 2025,Total Exports,Electricity,2148.3629,GWh
35,Austria,August 2025,Used for pumped storage,Electricity,553.4331,GWh
36,Austria,August 2025,Distribution Losses,Electricity,240.8978,GWh
37,Austria,August 2025,Final Consumption (Calculated),Electricity,5267.9966,GWh
38,Austria,August 2025,Net Electricity Production,Wind,535.786,GWh
39,Belgium,August 2025,Net Electricity Production,Electricity,5585.8754,GWh
40,Belgium,August 2025,Net Electricity Production,Nuclear,1731.1156,GWh
41,Belgium,August 2025,Net Electricity Production,Hydro,76.3447,GWh
42,Belgium,August 2025,Net Electricity Production,Total Combustible Fuels,1598.8697,GWh
43,Belgium,August 2025,Net Electricity Production,"Coal, Peat and Manufactured Gases",243.4069,GWh
44,Belgium,August 2025,Net Electricity Production,Oil and Petroleum Products,12.1917,GWh
45,Belgium,August 2025,Net Electricity Production,Natural Gas,888.376,GWh
46,Belgium,August 2025,Net Electricity Production,Combustible Renewables,350.0106,GWh
47,Belgium,August 2025,Net Electricity Production,Other Combustible Non-Renewables,104.8845,GWh
48,Belgium,August 2025,Net Electricity Production,Solar,1367.2384,GWh
49,Belgium,August 2025,Net Electricity Production,Not Specified,35.2437,GWh
50,Belgium,August 2025,Net Electricity Production,"Total Renewables (Hydro, Geo, Solar, Wind, Other)",2570.6571,GWh
51,Belgium,August 2025,Total Imports,Electricity,2489.1934,GWh
52,Belgium,August 2025,Total Exports,Electricity,1176.1741,GWh
53,Belgium,August 2025,Used for pumped storage,Electricity,100.349,GWh
54,Belgium,August 2025,Distribution Losses,Electricity,303.652,GWh
55,Belgium,August 2025,Final Consumption (Calculated),Electricity,6494.8937,GWh
56,Belgium,August 2025,Net Electricity Production,Wind,777.0634,GWh
57,Canada,August 2025,Net Electricity Production,Electricity,47704.2311,GWh
58,Canada,August 2025,Net Electricity Production,Nuclear,6882.0859,GWh

Need to think about if we want to get the data only for one country and if we shold split this up into different tables to pull information from.

Also want to konw all the other catagories for product.

In [ ]:
# Need to change date to an actual data and value to int64
MES_data_1['date']= pd.to_datetime(MES_data_1['date'].astype(str), format='%B %Y')
MES_data_1['date']

9        2025-08-01
10       2025-08-01
11       2025-08-01
12       2025-08-01
13       2025-08-01
            ...
154925   2010-01-01
154926   2010-01-01
154927   2010-01-01
154928   2010-01-01
154929   2010-01-01
Name: date, Length: 154870, dtype: datetime64[ns]

In [ ]:
MES_data_1['value'] = pd.to_numeric(MES_data_1['value'], downcast='float')
MES_data_1['value']

9           1091.6230
10         15191.0630
11         10411.6566
12           409.1507
13          4110.1169
             ...
154925     32372.5830
154926      6869.2530
154927     62000.7330
154928    877213.6150
154929     21659.6120
Name: value, Length: 154870, dtype: float64

In [ ]:
MES_data_1.to_csv("MES_data_1_clean.csv", index=False)